
!!! 5
html
    head
        title= player.name
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='viewport', content='target-densitydpi=device-dpi')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        meta(name='MobileOptimized', content='width')
        meta(name='HandheldFriendly', content='true')
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/controller.css')

    body
        input#clientName(type='hidden', value='#{player.name}')
        input#clientTeam(type='hidden', value='#{player.team}')
        input#serverId(type='hidden', value='#{player.server}')
        
        div#help
            <p>Hold your device sideways to use the controller</p>

        div#right-analog
        div#left-analog

        div#overlay
            div#result
            div.health
                div.health-value
                    span.health-text 100%

        script(src='/js/libs/jquery-1.7.2.min.js', type='text/javascript')
        script(src='/js/libs/socket.io.min.js', type='text/javascript')
        script(src='/js/libs/kinetic-3.9.4.min.js', type='text/javascript')
        script(src='/js/libs/virtualjoystick.js', type='text/javascript')
        script(src='/js/controller.js', type='text/javascript')